@page "/perros"
@using System.Net.Http.Headers;
@using Microsoft.AspNetCore.Mvc;
@inject HttpClient http
@inject IJSRuntime JS
@attribute [Authorize(Roles = "Admin")]

<div class="d-flex">
    <div class="p-2 w-100"><h1>Perros</h1></div>
    <div class="p-2 flex-shrink-1">
        <input type="button" class="btn btn-success" value="Cargar Perro" @onclick="() => ModalCrearPerro.Open()">
    </div>
</div>

<ModalFormularioPerros @ref="@ModalCrearPerro" TextoBoton="Cargar perro" Titulo="Cargar perro" OnValidSubmit="(() => crearPerro())" Perro="@perro">
</ModalFormularioPerros>


@if (perros == null)
{
    <text>Cargando...</text>
}
else if (perros.Length == 0)
{
    <text>No hay perros cargados.</text>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dueño/a</th>
                <th>Fecha de nacimiento</th>
                <th>Raza</th>
                <th>Sexo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var perro in perros)
            {
                <tr>
                    <td>@perro.Nombre</td>
                    <td>@perro.Nombre</td>
                    <td>@perro.FechaN</td>
                    <td>@perro.Raza</td>
                    <td>@perro.Sexo</td>
                    <td style="text-align:right;">
                        <button class="btn btn-danger" @onclick="@(()=>BorrarPerro(perro.Id))"><i class="oi oi-trash"></i> </button>
                        <button class ="btn btn-success" value="Editar" onclick="window.location.href='"><i class="oi oi-pencil"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <SurveyPrompt/>
}

<!--<RadzenButton Text="@text" Click="@botonClick"></RadzenButton>-->
@code {
    /*string text = "hola";
    * 
    void botonClick()
    {

    }*/
    Perro[] perros { get; set; }
    Perro perro { get; set; } = new Perro();
    Usuario usuario { get; set; } = new Usuario();
    private ModalFormularioPerros ModalCrearPerro { get; set; }

    protected override async Task OnInitializedAsync()
    {
        http.BaseAddress = new Uri("https://localhost:7083/");
        await cargarPerros();
    }

    async Task crearPerro()
    {
        await http.PostAsJsonAsync("https://localhost:7083/api/perros", perro);
        ModalCrearPerro.Close();
        await cargarPerros();
    }

    async Task cargarPerros()
    {
        perros = await http.GetFromJsonAsync<Perro[]>("https://localhost:7083/api/perros");

    }
    async Task buscarUsuario(string id)
    {
        usuario = await http.GetFromJsonAsync<Usuario>($"https://localhost:7083/api/usuarios/{id}");
    }

    async Task BorrarPerro(int id)
    {
        var perro = perros.First(a => a.Id == id);

        string mensajeconfirmacion = $"¿Desea borrar este perro: {perro.Nombre}?";
        if (await JS.InvokeAsync<bool>("confirm", mensajeconfirmacion))
        {
            await http.DeleteAsync($"https://localhost:7083/api/perros/{id}");
            await cargarPerros();
        }
    }
}
