@page "/perros"
@using System.Net.Http.Headers;
@using Microsoft.AspNetCore.Mvc;
@using OMD_TechX.Helpers;
@inject HttpClient http
@inject IJSRuntime JS
@attribute [Authorize(Roles = "Admin")]


<div class="d-flex">
    <div class="p-2 w-100"><h1>Perros</h1></div>
    <!--<hr />
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" @onchange="@(e => cargarData(e.Value.ToString()))">
        <option value="todos" selected>Todos</option>
        @foreach (Usuario u in usuarios)
        {
            <option value="@u.Id">@u.Nombre @u.DNI</option>
        }
    </select>-->
    <div class="p-2 flex-shrink-1">
        <input type="button" class="btn btn-success" style="background-color: #28567A" value="Cargar perro" @onclick="() => ModalCrearPerro.Open()">
    </div>
</div>

<ModalFormularioPerros @ref="@ModalCrearPerro" TextoBoton="Cargar perro" Titulo="Cargar perro" OnValidSubmit="(() => crearPerro())" Perro="@perro">
</ModalFormularioPerros>
<ModalFormularioPerros @ref="@ModalEditarPerro" TextoBoton="Editar perro" Titulo="Editar perro" OnValidSubmit="(() => editarPerro())" Perro="@perro">
</ModalFormularioPerros>


@if (perros == null)
{
    <text>Cargando...</text>
}
else if (perros.Length == 0)
{
    <text>No hay perros cargados.</text>
}
else
{
    <table class="table">
        <thead>
            <tr style="text-align:center; vertical-align: middle">
                <th></th>
                <th>Nombre</th>
                <th>Dueño/a</th>
                <th>Raza</th>
                <th>Sexo</th>
                <th>Fecha de nacimiento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var perro in perros)
            {
                usuario = usuarios.FirstOrDefault(u => u.Id == perro.UsuarioId);
                imagenBase64 = "data:image/jpeg;base64," + Convert.ToBase64String(perro.Foto);
                <tr style="text-align:center; vertical-align: middle;">
                    <td>
                        <div style="margin-left:30px; margin-right:-40px;width: 60px; height: 60px; border-radius: 50%; overflow: hidden;">
                            <img src="@imagenBase64" alt="Foto" class="rounded-circle" style="width: 100%; height: 100%; object-fit: cover; object-position: center;" />
                        </div>
                    </td>
                    <td>@perro.Nombre</td>
                    <td>@usuario.Nombre @usuario.Apellido</td>
                    <td>@perro.Raza</td>
                    <td>@perro.Sexo</td>
                    <td>@perro.FechaN.ToShortDateString()</td>
                    <td style="text-align:right;">
                        <button class="btn" style="background-color:cadetblue" @onclick="@(()=>libretaSanitaria(perro.Id))"><i class="oi oi-heart"></i> </button>
                        <button class="btn btn-danger" @onclick="@(()=>BorrarPerroLogico(perro.Id))"><i class="oi oi-trash"></i> </button>
                        <button class="btn btn-primary" style="background-color: 4BA9E7" value="Editar" @onclick="@(()=>ModalEditarPerro.Open(perro.Id))"><i class="oi oi-pencil"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<SurveyPrompt />
<ModalDialog @ref="@historialAtenciones" Titulo="Libreta sanitaria">
    @if (atenciones == null)
    {
        <h4>Cargando atenciones...</h4>
    }
    else if (atenciones.Count == 0)
    {
        <h4>El perro @perro.Nombre no tiene atenciones.</h4>
    }
    else
    {
        <h4>Atenciones del perro @perro.Nombre</h4>
        <hr />
        <table class="table">
            <thead>
            <th>Fecha</th>
            <th>Atencion</th>
            </thead>
            <tbody>
                @foreach (PerroAtencion atencion in atenciones)
                {
                    <tr>
                        <td>@atencion.Fecha.ToShortDateString()</td>
                        <td>@atencion.Atencion</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    
</ModalDialog>
<ModalDialog @ref="@notificacionBorrado" Titulo="Error">
    <h4>Este perro tiene turnos asociado, para borrarlo, elimine sus turnos.</h4>
</ModalDialog>
<!--<RadzenButton Text="@text" Click="@botonClick"></RadzenButton>-->
@code {
    /*string text = "hola";
    * 
    void botonClick()
    {

    }*/
    Perro[] perros { get; set; }
    Perro perro { get; set; } = new Perro();
    List<PerroAtencion> atenciones = new List<PerroAtencion>();

    List<Usuario> usuarios { get; set; } = new List<Usuario>();
    Usuario usuario { get; set; } = new Usuario();
    private string imagenBase64 { get; set; }
    private ModalFormularioPerros ModalCrearPerro { get; set; }
    private ModalFormularioPerros ModalEditarPerro { get; set; }
    private ModalDialog historialAtenciones { get; set; }
    private ModalDialog notificacionBorrado { get; set; }

    protected override async Task OnInitializedAsync()
    {
        http.BaseAddress = new Uri("https://localhost:7083/");
        await cargarPerros();
        //await cargarUsuarios();
    }

    async Task crearPerro()
    {

        var usuario = await http.GetFromJsonAsync<Usuario>($"https://localhost:7083/api/usuarios/{perro.UsuarioId}");
        List<Perro> existentes = usuario.Perros.FindAll(p => p.eliminado == false);
        bool nombreEnUso = existentes.Any(p => p.Nombre.Equals(perro.Nombre));
        if (!nombreEnUso)
        {
            ModalCrearPerro.labelNombreEnUso = "";
            await http.PostAsJsonAsync("https://localhost:7083/api/perros", perro);
            ModalCrearPerro.Close();
            await cargarPerros();
        }
        else
        {
            ModalCrearPerro.labelNombreEnUso = "El dueño ya tiene un perro asociado con ese nombre. Por favor, ingrese otro";
        }

    }

    async Task cargarData(string idUsuario)
    {
        if(idUsuario != "todos")
        {
            perros = await http.GetFromJsonAsync<Perro[]>($"https://localhost:7083/api/perros/byUser/{idUsuario}");
        }
        else
        {
            cargarPerros();
        }
    }

    async Task cargarPerros()
    {
        await cargarUsuarios();
        perros = await http.GetFromJsonAsync<Perro[]>("https://localhost:7083/api/perros/actuales");

    }
    async Task cargarUsuarios()
    {
        usuarios = await http.GetFromJsonAsync<List<Usuario>>($"https://localhost:7083/api/usuarios/actuales");
    }
    async Task editarPerro()
    {
        var perroFromApi = await http.GetFromJsonAsync<Perro>($"https://localhost:7083/api/perros/{perro.Id}");
        string nombreActual = perroFromApi.Nombre;
        var usuario = await http.GetFromJsonAsync<Usuario>($"https://localhost:7083/api/usuarios/{perro.UsuarioId}");



        if (nombreActual.Equals(perro.Nombre) && perroFromApi.UsuarioId == perro.UsuarioId)
        {
            await http.PutAsJsonAsync($"api/perros", perro);
            ModalEditarPerro.Close();
            await cargarPerros();
        }
        else
        {
            List<Perro> existentes = usuario.Perros.FindAll(p => p.eliminado == false);
            bool nombreEnUso = existentes.Any(p => p.Nombre.Equals(perro.Nombre));
            if (!nombreEnUso)
            {
                ModalEditarPerro.labelNombreEnUso = "";
                await http.PutAsJsonAsync($"api/perros", perro);
                ModalEditarPerro.Close();
                await cargarPerros();
            }
            else
            {
                ModalEditarPerro.labelNombreEnUso = "El dueño ya tiene un perro asociado con ese nombre. Por favor, ingrese otro";
            }
        }

    }

    async Task BorrarPerro(int id)
    {
        var perro = perros.First(a => a.Id == id);
        if (perro.Turnos.Count > 0)
        {
            notificacionBorrado.Open();
        }
        else
        {
            string mensajeconfirmacion = $"¿Desea borrar este perro: {perro.Nombre}?";
            if (await JS.InvokeAsync<bool>("confirm", mensajeconfirmacion))
            {
                await http.DeleteAsync($"https://localhost:7083/api/perros/{id}");
                await cargarPerros();
            }
        }
    }

    async Task BorrarPerroLogico(int id)
    {
        var perro = perros.First(p => p.Id == id);
        string mensajeconfirmacion = $"¿Desea borrar este perro: {perro.Nombre}?";
        if (await JS.InvokeAsync<bool>("confirm", mensajeconfirmacion))
        {
            await http.PutAsJsonAsync<Perro>("https://localhost:7083/api/perros/eliminado", perro);
            var usuario = usuarios.FirstOrDefault(u => u.Id == perro.UsuarioId);
            var elim = usuario.Perros.RemoveAll(p => p.Id == perro.Id);
            List<Perro> nuevaLista = usuario.Perros;
            usuario.Perros = nuevaLista;
            var res = await http.PutAsJsonAsync("https://localhost:7083/api/usuarios/modificacion", usuario);
            await cargarPerros();
        }
    }

    async Task libretaSanitaria(int perroId)
    {   
        await cargarAtenciones(perroId);
        historialAtenciones.Open();
    }

    async Task cargarAtenciones(int perroId)
    {
        atenciones = await http.GetFromJsonAsync<List<PerroAtencion>>($"https://localhost:7083/api/perroAtencion");
        atenciones = atenciones.Where(a => a.PerroId == perroId).ToList();
    }
}
