@page "/turnosVet"
@inject HttpClient http
@inject IJSRuntime JS
<h2 style="text-align:center">Turnos</h2>
<hr />
<div class="container">
    <div class="row">
        <div style="margin-right: 10px" class="col-sm">
            <h4 style="text-align: center">Pendientes</h4>
            <hr />
            @if (turnos == null)
            {
                <text>Cargando...</text>
            }
            else if (turnos.Length == 0)
            {
                <text>No hay turnos.</text>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Franja</th>
                            <th>Motivo</th>
                            <th>Perro</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var turno in turnos)
                        {
                            <tr>

                                <td>@turno.Fecha.ToShortDateString()</td>
                                <td>@turno.Franja</td>
                                <td>@turno.motivo</td>
                                <td>@turno.Perro</td>
                                <td style="text-align: right">
                                    <button class="btn btn-danger" @onclick="@(()=>CancelarTurno(turno.Id))"><i class="oi oi-x"></i></button>
                                    <button class="btn btn-success" @onclick="@(()=>AceptarTurno(turno.Id))"><i class="oi oi-check"></i></button>
                                </td>
                                <td style="text-align: right">
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                }
        </div>
        <div style="margin-left: 10px" class="col-sm">
            <h4 style="text-align:center">Aceptados</h4>
            <hr />
        </div>
    </div>
</div>
<SurveyPrompt />


@code {
    Turno[] turnos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        http.BaseAddress = new Uri("https://localhost:7083/");
        await cargarTurnos();
    }


    async Task cargarTurnos()
    {
        turnos = await http.GetFromJsonAsync<Turno[]>($"https://localhost:7083/api/turnos");
    }

    async Task CancelarTurno(int turnoId)
    {
        
    }
    async Task AceptarTurno(int turnoId)
    {

    }
}
