@page
@using OMD_TechX.Modelos;
@model IndexModel
@{
    ViewData["Title"] = "Perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-12">
        
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Nombre" class="form-control" placeholder="Por favor elija su nombre." disabled />
                <label asp-for="Nombre" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Apellido" class="form-control" placeholder="Please choose your email." disabled />
                <label asp-for="Apellido" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" placeholder="Please choose your email." disabled />
                <label asp-for="Email" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="DNI" class="form-control" placeholder="Please choose your email." disabled />
                <label asp-for="DNI" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Telefono" class="form-control" placeholder="Please choose your email." disabled />
                <label asp-for="Telefono" class="form-label"></label>
            </div>
            <h3 style="text-align:center" class="rounded">Perros</h3>
            <hr />
            <div class="form-floating mb-3">
                
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Raza</th>
                            <th scope="col">Sexo</th>
                            <th scope="col">Fecha de nacimiento</th>
                            <th scope="col">Tamaño</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Perros.Count > 0)
                            {
                                int cont = 0;
                                foreach (var perro in Model.Perros)
                                {
                                    cont++;
                                    <tr>
                                        <th scope="row">
                                            @cont
                                        </th>
                                        <th scope="row">
                                            @perro.Nombre
                                        </th>
                                        <th scope="row">
                                            @perro.Raza
                                        </th>
                                        <th scope="row">
                                            @perro.Sexo
                                        </th>
                                        <th scope="row">
                                            @perro.FechaN.ToShortDateString()
                                        </th>
                                        <th scope="row">
                                            @perro.Tamanio
                                        </th>
                                        <th style="text-align:right; ">
                                            <button class="btn btn-primary" style="margin:5px"><i class="oi oi-plus">Historial</i></button>
                                        </th>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                No tenes perros asociados :c
                                </tr>
                            }
                        }
                    
                    </tbody>
                </table>
            </div>
            <!--<div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>-->
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

