@page "/usuarios"
@using System.Net.Http.Headers;
@inject HttpClient http
@inject IJSRuntime JS

<style>
    body{
        background-color: #E9E7E4;
    }
</style>

<div class="d-flex">
    <div class="p-2 w-100"><h1>Usuarios</h1></div>
    <div class="p-2 flex-shrink-1">
        <input type="button" class="btn btn-success" value="Cargar Usuario" onclick="window.location.href='Identity/Account/Register'">
    </div>
</div>


@if (usuarios == null)
{
    <text>Cargando...</text>
}
else if (usuarios.Length == 0)
{
    <text>No hay usuarios cargados.</text>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Telefono</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in usuarios)
            {
                <tr>

                    <td>@user.DNI</td>
                    <td>@user.Nombre</td>
                    <td>@user.Apellido</td>
                    <td>@user.Email</td>
                    <td>@user.Telefono</td>
                    <td style="text-align: right">
                        <button class="btn btn-danger" @onclick="@(()=>BorrarUsuario(user.Id))"><i class="oi oi-trash"></i> Borrar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<SurveyPrompt />

@code {
    Usuario[] usuarios { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await loadUsers();
    }

    async Task loadUsers()
    {
        //hago un GET al controlador de usuarios /api/usuarios
        //esta definido en UsuariosController como ApiController
        usuarios = await http.GetFromJsonAsync<Usuario[]>("https://localhost:7083/api/usuarios");
    }

    async Task BorrarUsuario(string id)
    {
        var usuario = usuarios.First(u => u.Id == id);

        string mensajeconfirmacion = $"¿Desea borrar este usuario: {usuario.Email}?";
        if (await JS.InvokeAsync<bool>("confirm", mensajeconfirmacion))
        {
            await http.DeleteAsync($"https://localhost:7083/api/usuarios/{id}");
            await loadUsers();
        }
    }
}