@inject HttpClient http;
<div class="modal @modalClass" tabindex="-1" role="dialog" style="display:@modalDisplay; overflow:auto;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: darkorange">
                <h5 class="modal-title">@Titulo</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" @onclick="Close"></button>
            </div>
            <div class="modal-body">

                <!-- comienzo del formulario-->
                <EditForm Model="@Refugio" OnValidSubmit="OnValidSubmit">
                    <!-- header -->


                    <div class="row">
                        <div class="d-flex align-items-center">
                            <h2>¡Oh My Dog!</h2>
                            <div class="ms-auto">
                                <img src="/imagenes/Logo2.png" class="rounded float-end img-fluid" width="50px" height="50px" alt="omd-logo">
                            </div>
                        </div>
                        <hr />
                    </div>

                    <!-- campos -->


                    <div class="row">
                        <div class="col-6">

                            <label for="floatingInputInvalid" class="text-danger" style="opacity: 75%">
                                <ValidationMessage For="@(() => Refugio.Nombre)" class=""></ValidationMessage>
                                <text>@textoNombre</text>
                            </label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                                <InputText @bind-Value="@Refugio.Nombre" id="floatingInputInvalid" class="form-control rounded float-end" aria-required="true" placeholder="Jorge" />
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="floatingInputInvalid" class="text-danger" style="opacity: 75%">
                                <ValidationMessage For="@(() => Refugio.Direccion)"></ValidationMessage>
                            </label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Direccion</span>
                                <InputText @bind-Value="@Refugio.Direccion" id="floatingInputInvalid" class="form-control rounded" aria-required="true" placeholder="Gonzalez" />
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="floatingInputInvalid" class="text-danger" style="opacity: 75%">
                                <ValidationMessage For="@(() => Refugio.CBU)"></ValidationMessage>
                            </label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">CBU</span>
                                <InputText @bind-Value="@Refugio.CBU" id="floatingInputInvalid" class="form-control rounded" aria-required="true" placeholder="Gonzalez" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="floatingInputInvalid" class="text-danger" style="opacity: 75%">
                                    <ValidationMessage For="@(() => Refugio.Descripcion)"></ValidationMessage>
                                </label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Descripcion</span>
                                    <InputText @bind-Value="@Refugio.Descripcion" id="floatingInputInvalid" class="form-control rounded" aria-required="true" placeholder="" />
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col">
                            <button type="submit" style="background-color:#21618C" class="w-100 btn btn-lg btn-primary text-white">@TextoBoton</button>
                        </div>
                    </div>

                    <DataAnnotationsValidator> </DataAnnotationsValidator>

                </EditForm>


            </div>
        </div>
    </div>
</div>

@if (showBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}
@code {
    [Parameter]
    public string MensajeError { get; set; }

    [Parameter]
    public string Titulo { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public Refugio Refugio { get; set; }
    [Parameter]
    public string TextoBoton { get; set; } = "Salvar cambios";
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    private string modalDisplay = "none";
    private string modalClass = string.Empty;
    private bool showBackdrop = false;

    public string textoNombre;


    public void Open()
    {
        textoNombre = "";
        modalDisplay = "block";
        modalClass = "show";
        showBackdrop = true;
        Refugio.Nombre = "";
        Refugio.Direccion = "";
        Refugio.CBU = "";
        Refugio.Descripcion = "";

    }
    public void Close()
    {
        MensajeError = "";
        modalDisplay = "none";
        modalClass = string.Empty;
        showBackdrop = false;
    }

}